@model Pokemon

@{
    ViewData["Title"] = "Details";
}
<body style= "background-color:orangered;"></body>

<h1 style="color:white;">Details</h1>

<div>
    <h4 style="color:white;">Pokemon</h4>
    <hr />
    <dl style="color:white;"class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Japanese_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Japanese_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Base_HP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Base_HP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Base_ATK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Base_ATK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Base_DEF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Base_DEF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Base_SPC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Base_SPC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Base_SPD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Base_SPD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Catch_Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Catch_Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RedBlueDex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RedBlueDex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YellowDex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YellowDex)
        </dd>
    </dl>
</div>
<div>
    <!--<a asp-action="Edit" asp-route-id="@Model?.DexNum">Edit</a> |-->
    <a asp-action="Index">Back to List</a>
</div>
