@model IEnumerable<Pokemon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<!--<p>
    <a asp-action="Create">Create New</a>
</p>-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Japanese_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Base_HP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Base_ATK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Base_DEF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Base_SPC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Base_SPD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Catch_Rate)
            </th>
            <!--<th>
                @Html.DisplayNameFor(model => model.RedBlueDex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YellowDex)
            </th>-->
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Japanese_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Base_HP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Base_ATK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Base_DEF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Base_SPC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Base_SPD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catch_Rate)
            </td>
            <!--<td>
                @Html.DisplayFor(modelItem => item.RedBlueDex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YellowDex)
            </td>-->
            <td>
                <!--<a asp-action="Edit" asp-route-id="@item.DexNum">Edit</a> |-->
                <a asp-action="Details" asp-route-id="@item.DexNum">Details</a> <!--|
                <a asp-action="Delete" asp-route-id="@item.DexNum">Delete</a>-->
            </td>
        </tr>
}
    </tbody>
</table>
